@use "./mixin" as *;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#aside-placeholder {
  display: block;
  @media (max-width: 1119px) {
    display: none;
  }
}

.container-aside {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  height: 100vh;
  padding: 18px 32px 32px 24px;
  @media (max-width: 767px) {
    box-shadow: 16px 0px 52px #0e185033;
  }
}

.div-top {
  display: inline-flex;
  align-items: center;
  margin-bottom: 46px;
}
.aside-footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  max-height: 890px;
}
.aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
  padding-bottom: 32px;
}

.button-contacts {
  margin-bottom: 40px;
}

button {
  border: transparent;
  background-color: transparent;
}

.asidelogo {
  margin-right: 78px;
}
.mailto {
  margin-top: 16px;
  margin-bottom: 16px;
}

.pselement::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
}
.chat {
  margin-right: 16px;
  margin-left: 16px;
}
.aside-button {
  display: flex;
  align-items: center;
  color: #1b1c21;
  font-size: 16px;
  font-family: "Rubik-Medium";
}
.aside-button:hover::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
}
.aside-button:hover {
  opacity: 0.5;
}
.mailto {
  font-size: 16px;
  font-family: "Rubik-Medium";
}
.tel {
  font-size: 24px;
  font-family: "Rubik-Bold";
}

a {
  text-decoration: none;
}
a[href^="tel"] {
  color: #1b1c21;
}
a[href^="mailto"] {
  color: #1b1c21;
}
.lang {
  font-size: 16px;
  font-family: "Rubik-Medium";
}
.lang-ru,
.pselement {
  opacity: 0.5;
}
