@use "./mixin" as *;
@use "./font-style" as *;

button {
  border: transparent;
  background-color: transparent;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 32px;
  padding-bottom: 32px;
  width: 22vw;
  max-width: 320px;
  min-height: 676px;
  height: 100vh;
  padding: 18px 32px 22px 24px;
  background-color: var(--color-background-white);
  @media (max-width: 1023px) {
    box-shadow: 16px 0px 52px #0e185033;
    position: absolute;
    z-index: 50;
    width: 42vw;
  }
  @media (max-width: 425px) {
    width: 100vw;
  }
}

.aside-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 46px;
  column-gap: 10px;
  @media (max-width: 1023px) {
    width: 35vw;
  }
  @media (max-width: 425px) {
    width: 83vw;
  }
}

.aside-search {
  margin-left: auto;
}

.aside-button-close {
  display: none;
  @media (max-width: 1023px) {
    display: block;
  }
}

.aside-nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  max-height: 890px;
}

.aside-container-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
  margin-bottom: 32px;
}

.aside-nav-button {
  display: flex;
  align-items: center;
  color: var(--color-text-black);
  font-size: 16px;
}

.aside-nav-button:hover::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  background-color: var(--color-background-holy);
}
.aside-nav-button:hover {
  opacity: 0.5;
}

.asnb__pselement::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  background-color: var(--color-background-holy);
}

.aside-footer {
  margin-bottom: 40px;
}

.aside-footer-mailto {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

.aside-footer-chat {
  margin-right: 16px;
  margin-left: 16px;
}

.aside-footer-tel {
  font-size: 24px;
}

.aside-footer-lang {
  font-size: 16px;
}

.aside-footer-langlang-ru,
.pselement {
  opacity: 0.5;
}

a {
  text-decoration: none;
}
a[href^="tel"] {
  color: var(--color-text-black);
}
a[href^="mailto"] {
  color: var(--color-text-black);
}
