* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  width: 100vw;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  .container-aside {
    height: 1925px;
    background-color: #ffffff;
  }
}



#aside-placeholder {
  display: block;
  position: relative;
  min-height: 676px;
  font-family: "TTLakes-Medium";
  font-weight: 500;
  @media (max-width: 1023px) {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(#ffffff, 0.9);
  }
}

#feedback {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(#ffffff, 0.9);
  z-index: 50;
  overflow-y: hidden;
  @media (max-width: 425px) {
    width: 100vw;
  }
}

#header-mob {
  padding: 0px 24px;
  background-color: white;
  display: none;
  @media (max-width: 1023px) {
    display: block;
  }
  @media (max-width: 425px) {
    display: block;
    padding: 0px 16px;
  }
}

#main {
  background-color: #f8f8f8;
  @media (max-width: 1023px) {
    border-top: 2px solid #d9fff5;
  }
}

#orderCall {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(#ffffff, 0.9);
  z-index: 50;
  top: 0;
  right: 0;
  overflow-y: hidden;
  @media (max-width: 425px) {
    width: 100vw;
  }
}

.container {
  width: 78vw;
  height: 100vh;
  @media (max-width: 1023px) {
    width: 100vw;
  }
}

.button-style-hidden,
.article-advantages-button__hidden {
  display: flex;
  column-gap: 8px;
  align-items: center;
  border: 2px solid transparent;
  background-color: #f8f8f8;
}
.button-style-hidden::before {
  content: url(../assets/icon.svg);
}
.article-advantages-button__hidden::before {
  content: url(../assets/icon.svg);
}

.button-style-hidden:hover {
  border: 2px solid #b8ffec;
}
.article-advantages-button__hidden:hover {
  border: 2px solid #b8ffec;
}

.button-style-hidden {
  @media (max-width: 425px) {
    display: none;
  }
}



