.container-feedback-form {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 100vw;
  column-gap: 16px;
  background-color: var(--color-background-white);
  padding: 32px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 16px 0px 52px #0e185033;
  border-left: 1px solid #d9fff5;
  @media (max-width: 425px) {
    padding: 16px;
    width: 100%;
  }
}

.feedback-button-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 48px;
  left: -64px;
  @media (max-width: 425px) {
    position: relative;
    top: 16px;
    left: 12px;
    margin-bottom: 40px;
  }
}

.feedback-form-title {
  position: relative;
  font-size: 28px;
}
.feedback-form-title::before {
  content: "";
  position: absolute;
  left: -32px;
  width: 3px;
  height: 40px;
  background-color: var(--color-background-holy);
  @media (max-width: 425px) {
    left: -16px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input-feedback,
.form-textarea-feedback {
  padding: 12px 0px 12px 16px;
  width: 376px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  margin-bottom: 16px;
  @media (max-width: 425px) {
    width: 288px;
  }
}

.form-textarea-feedback {
  height: 118px;
}

.ahref__color {
  color: var(--color-link);
}

.form-agreement {
  font-size: 16px;
  @media (max-width: 425px) {
    width: 288px;
  }
}

.form-button-submit {
  margin-top: 23px;
  align-self: flex-end;
}
