@font-face {
  font-family: "TTLakes-Bold";
  src: url("../fonts/TTLakes-Bold.woff2") format ("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes-Medium";
  src: url("../fonts/TTLakes-Medium.woff2") format ("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

button,
p,
td,
div,
span {
  font-family: "TTLakes-Medium";
  font-weight: 500;
}

h1 {
  font-family: "TTLakes-Bold";
  font-weight: 700;
}
