@use "./mixin" as *;

.footer {
  padding: 32px 32px 24px 32px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background-grey);
  @include border-top;

  font-size: 16px;
  @media (max-width: 1023px) {
    padding: 32px 24px 24px 24px;
  }
  @media (max-width: 425px) {
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
}

.footer-text {
  font-size: 14px;
  color: var(--color-text);
  @media (max-width: 425px) {
    width: 85vw;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 16px;
  }
}

.footer-right {
  width: 330px;
  text-align: end;
  @media (max-width: 1023px) {
    width: 213px;
  }
  @media (max-width: 425px) {
    width: 85vw;
    text-align: center;
  }
}
