@use "./mixin" as *;

.footer {
  padding: 32px 32px 24px 32px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background);
  @include border-top;
  @media (max-width: 1023px) {
    padding: 32px 24px 24px 24px;
  }
  @media (max-width: 425px) {
    flex-direction: column;
    text-align: center;
    padding: 16px;
  }
}

.footer-text {
  font-size: 14px;
  color: var(--color-text);
  @media (max-width: 425px) {
    text-align: center;
    margin-bottom: 16px;
  }
}

.footer-right {
  width: 330px;
  text-align: end;
  @media (max-width: 1023px) {
    width: 213px;
  }
  @media (max-width: 425px) {
    width: 312px;
    text-align: center;
  }
}
