@use "./mixin" as *;

@mixin header-location {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.header-mobil {
  display: flex;
  justify-content: space-between;
  height: 88px;
  column-gap: 16px;
  .header-mobil-container-left {
    @include header-location;
  }
  .header-mobil-container-right {
    @include header-location;
  }
}

.header-mobil-button-icon {
  @include header-location;
}

.burger-strip::after {
  content: "";
  width: 2px;
  height: 32px;
  background-color: var(--color-background-strip);
  @media (max-width: 425px) {
    display: none;
  }
}

.repair-strip::before {
  content: "";
  width: 2px;
  height: 32px;
  background-color: var(--color-background-strip);
}

.mobil-hidden {
  display: block;
  @media (max-width: 425px) {
    display: none;
  }
}
