@use "./mixin" as *;

.main {
  padding: 0px 24px 32px 24px;
}

.main-header-container {
  display: flex;
  justify-content: space-between;
  .main-header-title {
    position: relative;
  }
  .main-header-container-services {
    display: flex;
    column-gap: 32px;
  }
  .main-header-container-button__media-none {
    display: flex;
    align-items: center;
    column-gap: 8px;
    @media (max-width: 1023px) {
      display: none;
    }
  }
  ::before {
    content: "";
    position: absolute;
    left: -24px;
    width: 3px;
    height: 40px;
    background-color: var(--color-background-holy);
  }
}

.main-article {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 1023px) {
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-right: -24px;
  }
  .main-article-button {
    display: flex;
    padding: 8px 24px;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.3);
    flex-shrink: 0;
    font-size: 16px;
  }
  .main-article-button:hover {
    border: 2px solid #b8ffec;
    border-radius: 3%;
    background-color: var(--color-background-white);
  }
  .main-article-button__hover {
    border: 2px solid #b8ffec;
    border-radius: 7%;
    background-color: var(--color-background-white);
  }
}

.article-advantages {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  @media (max-width: 425px) {
    flex-wrap: wrap;
  }
}

.article-advantages-paragraph {
  overflow: hidden;
  padding-top: 7px;
  font-size: 16px;
  @media (max-width: 1023px) {
    width: 312px;
    height: 160px;
  }
  @media (max-width: 425px) {
    width: 264px;
    height: 90px;
  }
}

.article-advantages-paragraph-first {
  margin-bottom: 16px;
}

.article-advantages-foto {
  width: 36vw;
  @media (max-width: 1023px) {
    width: 46vw;
  }
  @media (max-width: 425px) {
    width: 100vw;
    margin: 0px -24px;
    padding-top: 16px;
  }
}
