#orderCall {
  display: none;
  position: absolute;
  height: 1925px;
  width: 100vw;
  background-color: rgba(#ffffff, 0.9);
  z-index: 50;
  @media (max-width: 425px) {
    width: 100vw;
  }
}

.container-order-call {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 100%;
  column-gap: 16px;
  background-color: #ffffff;
  padding: 32px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 16px 0px 52px #0e185033;
  border-left: 1px solid #d9fff5;
  @media (max-width: 425px) {
    padding: 16px;
    width: 100%;
  }
}

.feedback-close-call {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 48px;
  left: -64px;
  @media (max-width: 425px) {
    position: relative;
    top: 16px;
    left: 12px;
    margin-bottom: 40px;
  }
}

.title-ordercall {
  position: relative;
  font-size: 28px;
}
.title-ordercall::before {
  content: "";
  position: absolute;
  left: -32px;
  width: 3px;
  height: 40px;
  background-color: #41f6d7;
  @media (max-width: 425px) {
    left: -16px;
  }
}
.form {
  display: flex;
  flex-direction: column;
}
*input {
  padding: 12px 0px 12px 16px;
  width: 376px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  margin-bottom: 16px;
  @media (max-width: 425px) {
    width: 288px;
  }
}

.button-submit {
  margin-top: 23px;
  align-self: flex-end;
}

.agreement {
  @media (max-width: 425px) {
    width: 288px;
  }
}
