@use "./mixin" as *;

.price-title {
  padding: 16px 32px 16px 32px;
  color: var(--color-text);
  border-top: 1px solid #d9fff5;
  font-size: 16px;
  @include background-gradient;
}

.price-table-container {
  padding: 32px;
  background-color: var(--color-background-grey);
  font-size: 16px;
}

.price-table {
  width: 100%;
  border-collapse: collapse; // убирает промежутки между ячейками
  @media (max-width: 425px) {
    display: none;
  }
}

.price-table-header-tr {
  color: var(--color-text);
}

.price-table-body {
  background-color: var(--color-background-white);
  border-collapse: collapse;
}

.price-table-body-tr {
  position: relative;
  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 24px;
    right: 24px;
    height: 1px;
    background-color: var(--color-background-strip);
  }
}

.td_padding {
  padding: 24px;
}

.footer-prise {
  margin-top: 32px;
  max-width: 421px;
  color: var(--color-text);
}

.price-button-order {
  text-align: right;
}

.price-table-border-radius-top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.price-table-border-radius-bottom {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

//Мобилка

.price-table-mobil-media {
  display: none;
  column-gap: 16px;
  margin-top: 16px;
  margin-bottom: 44px;
  overflow-x: scroll;
  @media (max-width: 425px) {
    display: flex;
  }
}

.price-table-mobil-media-blok {
  flex-shrink: 0;
  width: 260px;
  height: 200px;
  background-color: var(--color-background-white);
  padding: 16px;
  border-radius: 6px;
}
.order-ps {
  position: relative;
}
.order-ps::after {
  content: url(../assets/order.svg);
  position: absolute;
  bottom: 0;
  right: 0;
}

.p-prise {
  margin-bottom: 16px;
}
.color-text {
  color: var(--color-text);
}

.prise-footer__margin {
  color: var(--color-text);
  max-width: 421px;
  margin-top: 32px;
  margin-bottom: 16px;
}
.offer {
  @media (max-width: 425px) {
    max-width: 192px;
    flex-wrap: wrap;
  }
}
.prise-footer-offer-button {
  display: flex;
  align-items: center;
  color: var(--color-text-black);
  padding-left: 3px;
}
.prise-footer-offer-button::after {
  content: url(../assets/arrow.svg);
}
