@use "./mixin" as *;

.header-types-technique {
  @include background-gradient;
  color: var(--color-text);
  padding-left: 32px;
  padding-right: 32px;
  height: 56px;
  padding-top: 16px;
  border-top: 1px solid #d9fff5;
  font-size: 16px;
  @media (max-width: 1023px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (max-width: 425px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section-types-technique {
  padding: 0px 32px 50px 32px;
  background-color: var(--color-background-grey);
  @media (max-width: 1023px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.section-types-technique-list {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  column-gap: 32px;
  row-gap: 16px;
  flex-wrap: wrap;
  @media (max-width: 425px) {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
.section-types-technique-list-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-shrink: 0;
  width: 240px;
  height: 160px;
  padding: 16px;
  background-color: var(--color-background-white);
  @media (max-width: 1023px) {
    width: 224;
  }
  @media (max-width: 425px) {
    width: 240;
  }
}
.types-technique-list-btn-hidden-tablet {
  @media (max-width: 1023px) {
    display: none;
  }
}

.section-types-technique-list-btn::after {
  content: url(../assets/go.svg);
  align-self: flex-end;
}
