@use "./mixin" as *;

.section-technique {
  padding: 0px 32px 50px 32px;
  background-color: #f8f8f8;
  @media (max-width: 1023px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.header-types {
  @include background-gradient;
  color: #7e7e82;
  padding-left: 32px;
  padding-right: 32px;
  height: 56px;
  padding-top: 16px;
  border-top: 1px solid #d9fff5;
  font-family: "TTLakes-Medium";
  font-weight: 500;
  font-size: 16px;
  @media (max-width: 1023px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (max-width: 425px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.list-technique {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  column-gap: 32px;
  row-gap: 16px;
  flex-wrap: wrap;
  @media (max-width: 425px) {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
.btn-technique {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-shrink: 0;
  width: 240px;
  height: 160px;
  padding: 16px;
  background-color: white;
  @media (max-width: 1023px) {
    width: 224;
  }
  @media (max-width: 425px) {
    width: 240;
  }
}

.btn-technique::after {
  content: url(../assets/go.svg);
  align-self: flex-end;
}

.hidden-tablet-item {
  @media (max-width: 1023px) {
    display: none;
  }
}
