:root {
  --color-text: #7e7e82;
  --color-background-grey: #f8f8f8;
  --color-link: #ff3e79;
  --color-background-white: #ffffff;
  --color-text-black: #1b1c21;
  --color-background-holy: #41F6D7;
  --color-background-strip: #eaeaea;
}
