@use "~normalize.css" as *;
@use "./variables" as *;
@use "./font-style" as *;
@use "./price" as *;
@use "./brand" as *;
@use "./body" as *;
@use "./aside" as *;
@use "./header" as *;
@use "./main" as *;
@use "./technique" as *;
@use "./footer" as *;
@use "./feedback" as *;
@use "./order" as *;
